<h1>Rosewood</h1>
<p><%= LoremTolkien.sentences(5) %></p>
<%= image_tag("assets/images/front.JPG") %>
<%= image_tag("assets/images/pond.JPG") %>
<%= image_tag("assets/images/pool.JPG") %>
<%= image_tag("assets/images/side_yard.JPG") %>
